<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.nile.infrastructures.repositories.leagues.LeaguesMapper">
  <insert id="createLeagues">
        INSERT INTO leagues (id, name, start_at, end_at) VALUES
    <foreach collection="newLeagues" item="newLeague" separator=",">
            (#{newLeague.id}, #{newLeague.name}, #{newLeague.startAt}, #{newLeague.endAt})
    </foreach>
  </insert>

  <select id="selectAllLeagues" resultType="jp.co.nile.infrastructures.repositories.leagues.LeagueEntity">
        SELECT id, name, start_at, end_at FROM leagues ORDER BY created_at ASC
  </select>

  <select id="selectLeague" resultType="jp.co.nile.infrastructures.repositories.leagues.LeagueEntity">
        SELECT id, name, start_at, end_at FROM leagues WHERE id = #{uuid} ORDER BY created_at ASC
  </select>

  <update id="updateLeague">
        UPDATE leagues SET name = #{name}, start_at = #{startAt}, end_at = #{endAt} WHERE id = #{id}
  </update>

  <insert id="addPlayersToLeague">
        INSERT INTO leagues_players (league_id, player_id) VALUES
    <foreach collection="playerIds" item="playerId" separator=",">
            (#{leagueId.uuid}, #{playerId.uuid})
    </foreach>
  </insert>

  <select id="selectLeaguePlayers" resultType="jp.co.nile.infrastructures.repositories.leagues.LeagueGameJoinEntity">
        SELECT 
            leagues_players.league_id, 
            leagues_players.player_id, 
            players.name as player_name 
        FROM leagues_players 
        INNER JOIN players ON leagues_players.player_id = players.id 
        WHERE leagues_players.league_id = #{leagueId.uuid}
        ORDER BY leagues_players.created_at ASC
  </select>

  <insert id="createGame">
        INSERT INTO games (id, game_rule_id, game_uma_id) VALUES
        (#{id}, #{ruleId}, #{umaId})
  </insert>

  <insert id="createPlayerResults">
        INSERT INTO player_results (game_id, player_id, score, result) VALUES
    <foreach collection="playerResultEntities" item="playerResultEntity" separator=",">
            (#{playerResultEntity.gameId}, #{playerResultEntity.playerId}, #{playerResultEntity.score}, #{playerResultEntity.result})
    </foreach>
  </insert>

  <insert id="createLeagueGame">
        INSERT INTO leagues_games (league_id, game_id, event_date) VALUES
        (#{leagueId.uuid}, #{gameId.uuid}, #{eventDate})
  </insert>

  <select id="selectLeagueGames" resultType="jp.co.nile.infrastructures.repositories.leagues.LeagueGameJoinEntity">
        SELECT 
            leagues_games.league_id as leagueId,
            leagues_games.game_id as gameId,
            leagues_games.event_date as eventDate,
            mst_game_rules.id as ruleId,
            mst_game_rules.name as ruleName,
            mst_umas.id as umaId,
            mst_umas.name as umaName,
            mst_umas.second_place_rate as secondPlaceRate,
            mst_umas.first_place_rate as firstPlaceRate,
            players.id as playerId,
            players.name as playerName,
            player_results.score,
            player_results.result
        FROM leagues_games
        INNER JOIN games ON leagues_games.game_id = games.id
        INNER JOIN mst_game_rules ON games.game_rule_id = mst_game_rules.id
        INNER JOIN mst_umas ON games.game_uma_id = mst_umas.id
        INNER JOIN player_results ON games.id = player_results.game_id
        INNER JOIN players ON player_results.player_id = players.id
        WHERE leagues_games.league_id = #{leagueId.uuid}
    <if test="gameId != null">
            AND games.id = #{gameId.uuid}
    </if>
        ORDER BY leagues_games.created_at ASC
  </select>

  <delete id="deleteLeagues">
        DELETE FROM leagues WHERE id IN
    <foreach collection="leagueIds" item="leagueId" open="(" close=")" separator=",">
            #{leagueId.uuid}
    </foreach>
  </delete>

  <delete id="deleteLeaguesGames">
        DELETE FROM leagues_games WHERE league_id = #{uuid}
  </delete>

  <delete id="deleteLeaguesPlayers">
        DELETE FROM leagues_players WHERE league_id = #{uuid}
  </delete>

  <delete id="deletePlayerResults">
        DELETE FROM player_results WHERE game_id IN
    <foreach collection="gameIds" item="gameId" open="(" close=")" separator=",">
            #{gameId.uuid}
    </foreach>
  </delete>

  <delete id="deleteGames">
        DELETE FROM games WHERE id IN
    <foreach collection="gameIds" item="gameId" open="(" close=")" separator=",">
            #{gameId.uuid}
    </foreach>
  </delete>
</mapper> 