<footer class="text-center text-lg-start" style="background-color: #bbbbbb;">
    <div class="container d-flex justify-content-center py-5">
        <a class="nav-link active" aria-current="page" href="#">
            <img src="niboshi_footer.png" class="rounded" alt="...">
        </a>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
            <i class="fab fa-youtube"></i>
        </button>
        <a class="nav-link active" target="_blank" aria-current="page"
            href="https://cp.onamae.ne.jp/login">
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #f9f9f9;">
                <img src="onamae.png" class="rounded" alt="...">
            </button>
        </a>
        <a class="nav-link active" target="_blank" aria-current="page"
            href="https://accounts.secure.freee.co.jp/sessions/new?redirect_url=https%3A%2F%2Fp.secure.freee.co.jp%2Fusers%2Fafter_login%3Fhash%3D&service_name=payroll&sign_up_url=https%3A%2F%2Faccounts.secure.freee.co.jp%2Fsign_up%3Finitial_service%3Dpayroll%26login_url%3Dhttps%253A%252F%252Fp.secure.freee.co.jp%252F%26prefer%3Demail%26redirect_url%3Dhttps%253A%252F%252Fp.secure.freee.co.jp%252Factivation%26service_name%3Dpayroll%26verification_type%3Dcode#home/2024/4">
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #f9f9f9;">
                <img src="freee.png" class="rounded" alt="...">
            </button>
        </a>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2025 Copyright:
        <a class="text-white" href="#">株式会社ニボシ</a>
    </div>
    <!-- Copyright -->
</footer>